<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                  <li>  <img src="../assets/img/Capture.PNG" style="width: 200px;"></li>
                  <li><a class="nav navbar-item" routerLink="/employee">Employee <i class="fa fa-user"></i></a></li>
                  <li><a class="nav navbar-item" routerLink="/home">Home <i class="fa fa-home"></i></a></li> 
                  <li><a class="nav navbar-item" routerLink="/get-a-quote">Get a Quote <i class="fa fa-sign-out"></i></a></li>
                  <li><a class="nav navbar-item" routerLink="/form">Form <i class="fa fa-sign-out"></i></a></li>
                  <li><a class="nav navbar-item" routerLink="/register">Register<i class="fa fa-sign-out"></i></a></li>
                  <li><a class="nav navbar-item" routerLink="/login">Logout <i class="fa fa-sign-out"></i></a></li>

                </ul>
              </nav>
          </div>
    </div>
</nav>