<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/img/play.PNG" id="icon" alt="User Icon" style="padding: 30px; width: 150px;"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name" [(ngModel)]="log.uname">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password"  [(ngModel)]="log.password">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="login(log)">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>